<div>
    <h1>My quotes</h1>
    <hr>
    
   <!--  <div  *ngFor ='let quote of quotes; let i = index'>
      <ul>
        <li >{{quote.quote}}</li>
        <button class="btn btn-outline-info" (click)='toggleDetails(i)'>See More</button>
        <div *ngIf= 'quote.showAuthor'>
          <app-quote-detail [quotes]= 'quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
        </div>
        <div class="container">
          <div class="row">
            <button class="btn btn-outline-info" (click)='addUpvote(i)'>upvotes {{quote.upvotes}}</button>
            <button class="btn btn-outline-info" (click)='addDownvote(i)'>downvotes {{quote.downvotes}}</button>

          </div>
          
        </div>
      
      </ul>  
</div> -->
<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div *ngFor ='let quote of quotes; let i = index' >
        <div class="card mastercards" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{quote.title}}</h5>
            <button class="btn btn-outline-info" (click)='toggleDetails(i)'>See More</button>
            <p class="card-text">{{quote.quote}}</p>
            <div *ngIf= 'quote.showAuthor'>
              <app-quote-detail [quotes]= 'quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
            </div>
            <button class="btn btn-outline-info" (click)='addUpvote(i)'>upvotes {{quote.upvotes}}</button>
            <button class="btn btn-outline-info" (click)='addDownvote(i)'>downvotes {{quote.downvotes}}</button>
    
          </div>
        </div>
  
      </div>

    </div>
  
    <div class="col-md-7">
      <!-- Put form here -->
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
     
    </div>
   
  </div>
</div>
  <p *ngIf='quotes.length > 5'>You have too many quotes</p>